POSTGRES_DB=next_home
POSTGRES_USER=next_home
POSTGRES_PASSWORD=replace-me
POSTGRES_PORT=5432

MOLIT_API_ENDPOINT=https://apis.data.go.kr/1613000/RTMSDataSvcAptTradeDev
MOLIT_API_KEY=replace-me

NAVER_MAP_CLIENT_ID=replace-me
NAVER_MAP_CLIENT_SECRET=replace-me

VAPID_PUBLIC_KEY=replace-me
VAPID_PRIVATE_KEY=replace-me
VAPID_SUBJECT=mailto:admin@example.com
