POSTGRES_DB=next_home
POSTGRES_USER=next_home
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

MOLIT_API_ENDPOINT=https://apis.data.go.kr/1613000/RTMSDataSvcAptTradeDev
MOLIT_API_KEY=your_data_go_kr_service_key

NAVER_MAP_CLIENT_ID=your_naver_map_client_id
NAVER_MAP_CLIENT_SECRET=your_naver_map_client_secret

